* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #333136;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
section {
  max-width: 1110px;
  margin: 0 auto;
}
.header_conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 155px;
}
.logo_img {
  line-height: 0;
  height: 26;
  width: 202;
}
nav li {
  display: inline-block;
  margin-left: 42px;
}
a {
  text-decoration: none;
  color: #333136;
}
li a:hover {
  text-decoration: underline;
}
.header_logo {
  line-height: 0;
}
.fist_section {
  padding: 145px 0 0 95px;
  color: white;
  width: 100%;
  height: 640px;
  background: url("./img/Group\ 64\ Copy.png"), url("./img/Oval.png"), #e7816b;
  background-repeat: no-repeat;
  background-position: bottom right;
  border-radius: 15px;
  margin-bottom: 148px;
}
.fist_section h1 {
  margin-bottom: 25px;
  width: 540px;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}
.fist_section p {
  width: 445px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 40px;
}
.frame_button {
  width: 152px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: white;
  border-radius: 8px;
}

.frame_button:hover {
  background: #ffad9b;
  color: white;
}
main {
  background: url("./img/Rectangle.png"), url("./img/Rectangle\ Copy\ 4.png");
  background-repeat: no-repeat;
  background-position: left top 320px, right bottom;
}
.second_section {
  display: flex;
  gap: 30px;
  color: white;
}

.second_section h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 2px;
}

.second_section a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-image: url("./img/Path\ 5.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 26px;
}
.second_section_item {
  width: 541px;
  height: 640px;
}

.left_item {
  background: #664f87;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.right_item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.right_item div{
  background: #664f87;
  border-radius: 15px;
  width: 541px;
  height: 308px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
}
