* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}

section {
  max-width: 1110px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_img{
   line-height: 0;
   height: 26;
   width: 202;
}

nav li {
  display: inline-block;
}
