* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #333136;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
section {
  max-width: 1110px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_conteiner {
  justify-content: space-between;
  height: 155px;
  max-width: 1100px;
  margin: 0 auto ;
}
.logo_img {
  line-height: 0;
  height: 26;
  width: 202;
}
li {
  display: inline-block;
  margin-left: 42px;
}
a {
  text-decoration: none;
  color: #333136;
}
li a:hover {
  text-decoration: underline;
}
.header_logo {
  line-height: 0;
}
.fist_section {
  padding: 145px 0 0 95px;
  color: white;
  width: 100%;
  height: 640px;
  background: url("./img/Group\ 64\ Copy.png"), url("./img/Oval.png"), #e7816b;
  background-repeat: no-repeat;
  background-position: bottom right;
  border-radius: 15px;
  margin-bottom: 148px;
}
.fist_section h1 {
  margin-bottom: 25px;
  width: 540px;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}
.fist_section p {
  width: 445px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 40px;
}
.frame_button,
.touch a {
  width: 152px;
  height: 56px;
  text-transform: uppercase;
  background: white;
  border-radius: 8px;
  transition: all 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.frame_button:hover,
.touch a:hover {
  background: #ffad9b;
  color: white;
}
main {
  background: url("./img/Rectangle.png"), url("./img/Rectangle\ Copy\ 4.png");
  background-repeat: no-repeat;
  background-position: left top 320px, right bottom 100px;
}
.second_section {
  gap: 30px;
  color: white;
}

.second_section h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 2px;
}

.second_section a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-image: url("./img/Path\ 5.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 26px;
}
.second_section_item {
  width: 541px;
  height: 640px;
  margin-bottom: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.left_item {
  background-image: url("./img/Bitmap_1.png");
  border-radius: 15px;
}

.right_item {
  flex-direction: column;
  gap: 30px;
}

.right_item div {
  border-radius: 15px;
  width: 541px;
  height: 308px;
  flex-direction: column;
  gap: 30px;
}

.right_item__first {
  background-image: url("./img/Bitmap_2.png");
}

.right_item__second {
  background-image: url("./img/Bitmap_3.png");
}

.hover_item {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  flex-direction: column;
  gap: 40px;
  transition: background 0.5s ease-in-out;
}

.hover_item:hover {
  background: rgba(231, 129, 107, 0.8);
}

.three_section_container {
  justify-content: space-between;
  gap: 30px;
}
.three_section_container div {
  text-align: center;
  width: 350px;
  min-height: 792px;
}
.three_section_container div h2 {
  margin: 48px 0 32px 0;
  padding: 0 74px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
  word-wrap: break-word;
}
.three_section_container div p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
}

footer {
  background: rgba(29, 28, 30, 1);
  min-height: 392px;
  position: relative;
  padding-top: 144px;
}
.touch {
  height: 292px;
  max-width: 1110px;
  width: 100%;
  background: #e7816b;
  border-radius: 15px;
  position: absolute;
  top: -220px;
  background-image: url("./img/Group\ 31.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding: 0 95px;
  margin: 0 auto;
  column-gap: 310px;
}
.touch a {
  padding: 18px 18px;
}
.touch__content {
  max-width: 459px;
  color: white;
  padding-right: 10px;
}
.touch__content h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 12px;
  width: 268px;
  height: 98px;
}
.touch__content p {
  font-size: 16px;
  line-height: 26px;
}
.footer-container__menu {
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.095);
}
.footer_menu a {
  color: white;
}
.footer-container__content {
  justify-content: space-between;
  margin-top: 31px;
}
.footer-container__content__item {
  width: 350px;
  height: 78px;
}

.footer-container__content_text,
.footer-container__content_text-2 {
  color: rgb(255, 255, 255);
  line-height: 26px;
  font-size: 16px;
  opacity: 0.5;
}

.footer-container__content_text h2 {
  font-weight: 700;
  font-size: 16px;
}

.footer-container__content_text p {
  font-weight: 400;
}
.footer-container__content_text-2 p {
  font-weight: 700;
  font-size: 16px;
}
.footer-container__content__item_logo {
  justify-content: end;
  align-items: end;
  gap: 16px;
}
.footer-container__content__item_logo > a {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;

}

.footer-container__content__item_logo > a:nth-child(1) {
  background-image: url("./img/logo-facebook.svg");
 
}
.footer-container__content__item_logo > a:nth-child(2) {
  background-image: url("./img/logo-youtube.svg");
}
.footer-container__content__item_logo > a:nth-child(3) {
  background-image: url("./img/logo-twiter.svg");
}
.footer-container__content__item_logo > a:nth-child(4) {
  background-image: url("./img/logo-p.svg");
}
.footer-container__content__item_logo > a:nth-child(5) {
  background-image: url("./img/logo-instagram.svg");
}
.footer-container__content__item_logo > a:nth-child(1):hover {
  background-image: url("./img/logo-facebook-h.svg");
}
.footer-container__content__item_logo > a:nth-child(2):hover {
  background-image: url("./img/logo-youtube-h.svg");
}
.footer-container__content__item_logo > a:nth-child(3):hover {
  background-image: url("./img/logo-twitter-h.svg");
}
.footer-container__content__item_logo > a:nth-child(4):hover {
  background-image: url("./img/logo-p-h.svg");
}
.footer-container__content__item_logo > a:nth-child(5):hover {
  background-image: url("./img/logo-instagrsm-h.svg");
}

.web {
  background: url("./img/Rectangle.png");
  background-repeat: no-repeat;
  background-position: left top 130px;
}

.web div.right_item {
  width: 100%;
  flex-direction: row;
}

main.web .touch {
  position: static;
  height: 252px;
  background-color: rgba(231, 129, 107, 1);
  background-image: url("./img/BacgroundImageWedTouch.png");
  flex-direction: column;
  margin-bottom: 160px;
}

.web .touch h1 {
  color: white;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 24px;
}

.web .touch p {
  justify-content: center;
  padding: 0 260px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.web .works {
  flex-wrap: wrap;
  gap: 32px 30px;
  justify-content: flex-start;
}

.works__item {
  width: 350px;
  height: 478px;
  flex-direction: column;
  justify-content: space-between;
}

.works__item img {
  border-radius: 15px 15px 0 0;
}
.works__item div {
  background: #fdf3f0;
  height: 158px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border-radius: 0 0 15px 15px;
  transition: background 0.5s ease-in-out;
}
.works__item h3 {
  color: #e7816b;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

/* .works__item h2 {
  width: 268px;
  height: 98px;
  color: red;
} */
.works__item p {
  width: 286px;
  color: #333136;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
}

.works__item div:hover {
  background: #e7816b;
}
.works__item div:hover h3 {
  color: #fff;
}
.works__item div:hover p {
  color: #fff;
}

/* APP PAGE */
